body{
  background-image: linear-gradient(rgba(212, 216, 215, 0.5), rgba(126, 131, 125, 0.623), rgb(44, 46, 45)),
    url("https://i.imgur.com/fKs7K2h.jpg");
}

ul{
  list-style: none;
}

.jumbotron{
  background: linear-gradient(0deg, #2b302e, transparent),
              url('https://i.imgur.com/xO4lLpy.jpg') no-repeat center;
  background-size:  cover;
  box-shadow: black;
}

.title-letter{
  	font-family: 'Mergim' cursive;
    font-weight: bold;
}

:target, .highlight:hover{
  box-shadow: 0px 0px 10px 15px rgba(0,0,0, .4);
}

.highlight{
  border: 1;
}

.social-media-contact a::after{
  margin: 10px;
  display: inline-block;  /* you need to put this, that way you can modify the shape of the element */
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.instagram::after{
  content: url(./media/instagram.svg);
}
.facebook::after{
  content: url(./media/facebook.svg);
}
.twitter::after{
  content: url(./media/twitter.svg);
}

a[href$=".html"]{
  color: white;
}

/* Images */
img{
  image-rendering: pixelated;
  object-fit: contain;
}
.img-thumbnail{
  max-height: 10rem;
  max-width: 10rem;
  display: inline-flex;
}

/* Videos */
video {
  display: block;
  margin-bottom: 2rem;
  padding: 1rem;
}

/* Navbar */
.navbar{
  background-image: linear-gradient( rgba(126, 131, 125, 0.623), rgb(44, 46, 45)),
    url("https://i.imgur.com/aXo6D0W.jpg");
